<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= article.username %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category_names %>
  </p>

</div>
